<div class="container">
  <header>
  <br>
      <h2 style="text-align: center">BTS SIO</h2>
      <hr />
      <h2 style="text-align: center">E4 : Conception et maintenance de solutions informatiques</h2>
      <hr />
      <h3 style="text-align: center">Grille d'aide à l'évaluation</h3>
  </header>
  <br />
  <div class="widget-body">
    <form [formGroup]="createEvaluation" #formDir="ngForm" >
        <table id="form1" class="table table-bordered">
          <tr>
            <td>
              <label for="etudiantId" class="control-label">Candidat :</label>
              <app-students-select [form]="createEvaluation"></app-students-select>
            </td>
            <td>
              <label for="juryId" class="control-label">Jury :</label>
              <app-jury-select [form]="createEvaluation" ></app-jury-select>
            </td>
            <td>
              <div class="form-group">
                <label class="control-label">Date :</label>
                  <input
                    formControlName="date"
                    class="form-control"
                    type="text"
                    required
                    bsDatepicker [bsConfig]="bsConfig"
                    />
              </div>
            </td>
          </tr>
        </table>
        <hr />
        <h3 style="text-align: center">Premiere phase : Entretient d'explication </h3>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td>
              Interprétation de l'expression des besoins :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #premier>
                <option value="0.5">Très Insufisant</option>
                <option value="1">Insufisant</option>
                <option value="1.5">Bien</option>
                <option value="2" >Très bien</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              Adéquation des spécifications techniques proposées :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #second>
                <option value="0.5">Très Insufisant</option>
                <option value="1">Insufisant</option>
                <option value="1.5">Bien</option>
                <option value="2">Très bien</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              Qualité de la démarche de réalisation envisagée :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #troisieme>
                <option value="0.5">Très Insufisant</option>
                <option value="1">Insufisant</option>
                <option value="1.5">Bien</option>
                <option value="2">Très bien</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              Prise en compte des observations du jury :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #quatrieme>
                <option value="0.5">Très Insufisant</option>
                <option value="1">Insufisant</option>
                <option value="1.5">Bien</option>
                <option value="2">Très bien</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-outline-success" type="submit"
              (click) = 'calculatePhase1(premier.value, second.value, troisieme.value, quatrieme.value)'>Valider Phase1</button>
            </td>
            <td>
              <input
                style="text-align: center"
                value="{{sum}}"
                formControlName="notePhase1"
                class="form-control"
                type="number"

              />
            </td>
          </tr>
        </table>
        <hr />
        <h3 style="text-align: center">Deuxième phase : Entretien d'explications </h3>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td>
              Conformité de la production au exigences de la demande
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #premierB>
                    <option value="0.6">Très Insufisant</option>
                    <option value="1.2">Insufisant</option>
                    <option value="1.8">Bien</option>
                    <option value="2.4">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Justification de la solution
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #secondB>
                    <option value="0.6">Très Insufisant</option>
                    <option value="1.2">Insufisant</option>
                    <option value="1.8">Bien</option>
                    <option value="2.4">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Qualité de la réalisation
            </td>
            <td style="text-align: center" >
                <select type="number" class="form-control" size="1" #troisiemeB>
                    <option value="0.6">Très Insufisant</option>
                    <option value="1.2">Insufisant</option>
                    <option value="1.8">Bien</option>
                    <option value="2.4">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Analyse critique de la solution proposée
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #quatriemeB>
                    <option value="0.6">Très Insufisant</option>
                    <option value="1.2">Insufisant</option>
                    <option value="1.8">Bien</option>
                    <option value="2.4">Très bien</option>
                </select>
            </td>
          </tr>
        </table>
        <hr />
        <h5 style="text-align: center">Critère global</h5>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td width="71.5%">
              Qualité de la communication professionnelle
            </td>
            <td>
                <select type="number" class="form-control" size="1" #cinquiemeB>
                    <option value="0.6">Très Insufisant</option>
                    <option value="1.2">Insufisant</option>
                    <option value="1.8">Bien</option>
                    <option value="2.4">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-outline-success" type="submit"
              (click) = 'calculatePhase2(premierB.value, secondB.value, troisiemeB.value, quatriemeB.value, cinquiemeB.value)'>
                Valider Phase2</button>
            </td>
            <td width="50%">
              <input
                style="text-align: center"
                formControlName="notePhase2"
                class="form-control"
                type="number"
                value="{{sumB}}"
          />
            </td>
          </tr>
        </table>
        <hr />
        <h5 style="text-align: center">Pénalités</h5>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td>
              Non-respect au cahier des charges national
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #penaliteA>
                    <option value="0">Non</option>
                    <option value="10">Oui</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Absence d'une solution professionnelle
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #penaliteB>
                    <option value="0">Non</option>
                    <option value="15">Oui</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-outline-success" type="submit"
              (click) = 'calculatePenalite(penaliteA.value, penaliteB.value)'>
                Valider Pénalités</button>
            </td>
            <td width="50%">
              <h5 style="text-align: center">{{sumPenalite}} point(s) en moins</h5>
            </td>
          </tr>
        </table>
        <hr />
        <table class="table table-bordered">
        <tr>
          <td>
            <button class="btn btn-success" type="submit"
              (click) = 'calculateNoteFinale()'>
                Note Finale</button>
          </td>
          <td width="50%">
            <input
              style="text-align: center"
              formControlName="resultat"
              class="form-control"
              type="number"
              value="{{sumNoteFinale}}"
          />
          </td>
        </tr>
      </table>
        <hr />
        <div class="form-group" style="text-align:right">
          <input type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="Save()" />
        </div>
    </form>
  </div>
  <div *ngIf="hasError" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>
