<div class="container">
  <br />
  <h2 style="text-align:center">Membres</h2>
  <br />
  <br />
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>
          Nom
        </th>
        <th>
          Age
        </th>
        <th>
          Statut
        </th>
        <th>
          Creation
        </th>
        <th>
          Dernière connexion
        </th>
      </tr>
    </thead>
      <tr *ngFor="let user of users" >
        <td>
          {{ user.username }}
        </td>
        <td>
          {{ user.age }}
        </td>
        <td>
          {{ user.status }}
        </td>
        <td>
          {{ user.created | date: 'mediumDate' }}
        </td>
        <td>
          {{ user.lastActive | timeAgo}}
        </td>
      </tr>
  </table>
</div>