<br />
<div class="container-fluid">
  <h4 style="text-align:center; margin-right: 3%">{{student.firstName}} {{student.name}}</h4>
  
  <hr />
  <div class="row" >
    <div class=" ml-auto mr-auto">
      <br />
      <p>Nom: {{student.name}}</p>
      <p>Prenom: {{student.firstName}}</p>
      <p>Mail: {{student.mail}}</p>
      <p>Section: {{student.section}}</p>
      <p>Matiere: {{student.matiere}}</p>
      <p>Style Evaluation: {{student.styleEval}}</p>
      
      
      <a [routerLink]="['/students/edit',student.id]">Modifier</a>
      <a [routerLink]="['/students']" style="margin-left: 7%"  >Retour</a>
      <br />
      <br />
      <div class=" ml-auto mr-auto" >
          <tr>
            <td>
                <button class="btn btn-danger"  (click)="deleteStudent()">
                    Delete User
                </button>
            </td>
          </tr>
        </div>
  </div>
</div>

</div>
