<br />
<div class="container-fluid">
  <h4 style ="text-align: center">{{student.firstName}} {{student.name}}</h4>

  <hr />
  <div class="row" >
    <div class=" ml-auto mr-auto">
      <br />
      <h5>Nom: {{student.name}}</h5>
      <h5>Prenom: {{student.firstName}}</h5>
      <h5>Mail: {{student.mail}}</h5>
      <h5>Section: {{student.section}}</h5>
      <h5>Matiere: {{student.matiere}}</h5>
      <h5>Style Evaluation: {{student.evaluation}}</h5>
      <br>
      <table style = "margin-left: 15%">
        <tr>
          <td>
             <a [routerLink]="['/students/edit',student.id]"><button class = "btn btn-primary">Modifier</button></a>
          </td>
          <td>
              <a [routerLink]="['/students']"><button class ="btn btn-primary">Retour</button></a>
          </td>
        </table>
      <div class=" ml-auto mr-auto" >
        <br>
        <table style = "margin-left: 15%">
          <tr>
            <td>
                <button class="btn btn-danger" style="width: 160%" (click)="deleteStudent()">
                    Supprimer
                </button>
            </td>
          </tr>
        </table>
        </div>
  </div>
</div>
</div>
