<div class="container">
<section class="widget">
  <header>
    <br />
    <h2 style="text-align: center">Etudiant {{student.firstName}} {{student.name}}</h2>
    <hr/>
  </header>
  <br />
  <div class="widget-controls" style="text-align: right">
      <button *appHasRole="['Admin','Moderator']" [routerLink]="['/students/edit/', student.id]" class="btn btn-outline-info">Modifier</button>
      <button *appHasRole="['Admin','Moderator']" class="btn btn-outline-danger"(click)="deleteStudent(student)">Supprimer</button>
  </div>
  <br />
  <table class="table table-hover table-bordered table-striped ">
      <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td style="text-align: center">
            {{ student.name }}
        </tr>
        <tr>
          <th scope="row">Prénom</th>
          <td style="text-align: center">
            {{ student.firstName }}
          </td>
        </tr>
        <tr>
          <th scope="row">Mail</th>
          <td style="text-align: center">
            {{ student.mail }}
          </td>
        </tr>
        <tr>
          <th scope="row">Section</th>
          <td style="text-align: center">
            {{ student.section }}
          </td>
        </tr>
        <tr>
          <th scope="row">Matière</th>
          <td style="text-align: center">
            {{ student.matiere }}
          </td>
        </tr>
        <tr>
          <th scope="row">Evaluation</th>
          <td style="text-align: center">
            {{ student.evaluation }}
          </td>
        </tr>
      </tbody>
  </table>
  <br />
    <button class="btn btn-primary btn-rounded-f" [routerLink]="['/students/list/']">
      Retour
    </button>
</section>
</div>


