<body id="pdfgrille">
<div class="container">
    <header>
    <br>
        <h2 style="text-align: center">BTS SIO</h2>
        <hr />
        <h2 style="text-align: center">E4 : Conception et maintenance de solutions informatiques</h2>
        <hr />
        <h3 style="text-align: center">Detail de la grille d'aide d'évaluation</h3>
    </header>
    <br />
    <div class="widget-controls" style="text-align: right">
    </div>
    <br />
    <div class="widget-body">
      <form>
        <table class="table table-bordered table-active">
          <tr>
            <td class="dessus" width="50%" style="text-align: center">
              {{student.evaluation}}
            </td>
            <td class="dessus" width="50%" style="text-align: center">
              OPTION {{student.matiere}}
            </td>
          </tr>
        </table>
          <table id="form1" class="table table-bordered table-active">
            <tr>
              <td class="dessus" width="33%">
                  <label class="control-label">Candidat :</label>
                  {{student.firstName}} {{student.name}}
              </td>
              <td class="dessus" width="33%">
                <label for="juryId" class="control-label">Jury :</label>
                {{ evaluation.juryId }}
              </td>
              <td class="dessus" width="33%">
                <div class="form-group">
                  <label class="control-label">Date :</label>
                  {{ evaluation.date }}
                </div>
              </td>
            </tr>
          </table>
          <table class="table table-bordered">
              <tr>
                <td width="60%"></td>
                <td width="10%" id="crit">Très Insuffisant</td>
                <td width="10%" id="crit">Insuffisant</td>
                <td width="10%" id="crit">Bien</td>
                <td width="10%" id="crit">Très bien</td>
              </tr>
            <tr>
              </tr>
          </table>
          <hr />
          <table class="table table-bordered table-active">
            <tr>
                <td class="dessus" width="60%" style="text-align: left"><h3 style="text-align: left">Premiere phase : Entretient d'explication</h3></td>
                <td class="dessus" width="10%" style="text-align: center">0,5</td>
                <td class="dessus" width="10%" style="text-align: center">1</td>
                <td class="dessus" width="10%" style="text-align: center">1,5</td>
                <td class="dessus" width="10%" style="text-align: center">2</td>
            </tr>
            </table>
          <hr />
          <table class="table table-bordered">
            <tr>
              <td width="60%">
                Interprétation de l'expression des besoins :
              </td>
                <td width="10%" *ngIf="evaluation.c1 == 0.5; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="evaluation.c1 == 1;   else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="evaluation.c1 == 1.5; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="evaluation.c1 == 2;   else tdelse" class="carre" ></td>
              <ng-template #tdelse><td></td></ng-template>
            </tr>
            <tr>
              <td width="60%">
                Adéquation des spécifications techniques proposées :
              </td>
              <td width="10%" *ngIf="evaluation.c2 == 0.5; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c2 == 1;   else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c2 == 1.5; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c2 == 2;   else tdelse" class="carre" ></td>
            </tr>
            <tr>
              <td width="60%">
                Qualité de la démarche de réalisation envisagée :
              </td>
              <td width="10%" *ngIf="evaluation.c3 == 0.5; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c3 == 1;   else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c3 == 1.5; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c3 == 2;   else tdelse" class="carre" ></td>
            </tr>
            <tr>
              <td width="60%">
                Prise en compte des observations du jury :
              </td>
              <td width="10%" *ngIf="evaluation.c4 == 0.5; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c4 == 1;   else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c4 == 1.5; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c4 == 2;   else tdelse" class="carre" ></td>
            </tr>
          </table>
          <table class="table table-bordered table-active table-hover">
            <tr>
              <td width="60%">

              </td>
              <th class="dessus">
                <h5 style="text-align: center">Note : {{evaluation.notePhase1}}/8</h5>
              </th>
            </tr>
          </table>
          <hr />
          <table class="table table-bordered table-active">
            <tr>
                <td class="dessus" width="60%" style="text-align: left"><h3 style="text-align: left">Deuxième phase : recette de la solution</h3></td>
                <td class="dessus" width="10%" style="text-align: center">0,6</td>
                <td class="dessus" width="10%" style="text-align: center">1,2</td>
                <td class="dessus" width="10%" style="text-align: center">1,8</td>
                <td class="dessus" width="10%" style="text-align: center">2,4</td>
            </tr>
            </table>
            <hr />
          <table class="table table-bordered">
            <tr>
              <td width="60%">
                Conformité de la production au exigences de la demande
              </td>
              <td width="10%" *ngIf="evaluation.c5 == 0.6; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c5 == 1.2; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c5 == 1.8; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c5 == 2.4; else tdelse" class="carre" ></td>
            </tr>
            <tr>
              <td>
                Justification de la solution
              </td>
              <td width="10%" *ngIf="evaluation.c6 == 0.6; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c6 == 1.2; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c6 == 1.8; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c6 == 2.4; else tdelse" class="carre" ></td>
            </tr>
            <tr>
              <td>
                Qualité de la réalisation
              </td>
              <td width="10%" *ngIf="evaluation.c7 == 0.6; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c7 == 1.2; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c7 == 1.8; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c7 == 2.4; else tdelse" class="carre" ></td>
            </tr>
            <tr>
              <td width="60%">
                Analyse critique de la solution proposée
              </td>
              <td width="10%" *ngIf="evaluation.c8 == 0.6; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c8 == 1.2; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c8 == 1.8; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c8 == 2.4; else tdelse" class="carre" ></td>
            </tr>
          </table>
          <hr />
          <h5 style="text-align: center">Critère global</h5>
          <hr />
          <table class="table table-bordered">
            <tr>
              <td width="60%">
                Qualité de la communication professionnelle
              </td>
              <td width="10%" *ngIf="evaluation.c9 == 0.6; else tdelse" class="carre"></td>
              <td width="10%" *ngIf="evaluation.c9 == 1.2; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c9 == 1.8; else tdelse" class="carre" ></td>
              <td width="10%" *ngIf="evaluation.c9 == 2.4; else tdelse" class="carre" ></td>
            </tr>
          </table>
          <table class="table table-bordered table-active table-hover">
              <tr>
                <td width="60%">

                </td>
                <th class="dessus">
                  <h5 style="text-align: center">Note phase 2 : {{evaluation.notePhase2}}/12</h5>
                </th>
              </tr>
            </table>
          <hr />
          <h5 style="text-align: center">Pénalités</h5>
          <hr />
          <table class="table table-bordered">
            <tr>
              <td>
                Non-respect au cahier des charges national
              </td>
              <td style="text-align: center">
                  - {{ evaluation.p1 }} pt(s)

              </td>
            </tr>
            <tr>
              <td>
                Absence d'une solution professionnelle
              </td>
              <td style="text-align: center">
                  - {{ evaluation.p2 }} pt(s)
              </td>
            </tr>
            <tr class="table table-danger table-hover">
              <td>

              </td>
              <td width="50%">
                <h5 style="text-align: center"> {{evaluation.penaliteSomme}} point(s) en moins</h5>
              </td>
            </tr>
          </table>
            <table class="table table-borderless table-active table-hover">
            <tr >
              <td></td>
              <td class="dessus" width="50%"><h5 style="text-align: center">Note finale : {{evaluation.resultat}} /20</h5></td>
            </tr>
          </table>
          <hr />
          <table class="table table-hover table-bordered">
            <tr>
                Nom et signature des membres de la commission d’interrogation :
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </tr>
          </table>
          <button class="btn btn-primary btn-rounded-f" [routerLink]="['/grids/list']">
            Retour
          </button>
      </form>
    </div>
  </div>
</body>
