th{
    text-align: center;
}
.icon {
  width:50px;
}
.white-cell{
  border:0;
  background-color: white;
}
.dropdown-item
{
  padding-top:10px;
  padding-bottom: 10px;
}
a:hover {
  background-color:#ECFBFD;
  cursor: pointer;
}
#list:hover
{
  background-color: rgb(241, 241, 241);
}
