<div class="container">
  <br />
  <h2 style="text-align:center">Jurys</h2>
  <hr>
  <br />
  <br />
  <a [routerLink]="['/jurys/create']">
    <button class="btn btn-primary my-2 my-sm-2">Nouveau jury</button></a>

  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>
          Professeur 1
        </th>
        <th>
          Professeur 2
        </th>
        <th>
          Professeur 3
        </th>
      </tr>
    </thead>
      <tr *ngFor="let jury of jurys">
        <td>
          {{ jury.teacher1 }}
        </td>
        <td>
          {{ jury.teacher2 }}
        </td>
        <td>
          {{ jury.teacher3 }}
        </td>
          <td style="width: 10%">
            <div class="dropdown">
              <button class="btn btn-outline-info dropdown-toggle text-blue pull-right" type="button"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item text-dark glyphicon glyphicon-zoom-in" role="button" [routerLink]="['/jurys/detail/',jury.id]">
                    Details
                  </a>
                  <a class="dropdown-item text-dark glyphicon glyphicon-edit" role="button" [routerLink]="['/jurys/edit/',jury.id]">
                    Modifier
                  </a>
              </div>
            </div>
          </td>
      </tr>
  </table>
</div>
