<div class="container">
  <br />
  <h2 style="text-align:center">Etudiants</h2>
  <br />
  <br />
  <a [routerLink]="['/students/create']">Nouvel etudiant</a>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Nom
        </th>
        <th>
          Prenom(s)
        </th>
        <th>
          Mail
        </th>
        <th>
          Section
        </th>
        <th>
          Matiere
        </th>
        <th>
          Style Evaluation
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let student of students">
      <tr [routerLink]="['/students/detail',student.id]">
        <td>
          {{ student.name }}
        </td>
        <td>
          {{ student.firstName }}
        </td>
        <td>
          {{ student.mail }}
        </td>
        <td>
          {{ student.section }}
        </td>
        <td>
          {{ student.matiere }}
        </td>
        <td>
          {{ student.evaluation }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
