<div class="container">
  <header>
  <br>
      <h2 style="text-align: center">BTS SIO</h2>
      <hr />
      <h2 style="text-align: center">E6 : Parcours de professionalisation</h2>
      <hr />
      <h3 style="text-align: center">Grille d'aide à l'évaluation</h3>
  </header>
  <br />
  <div class="widget-body">
    <form [formGroup]="createE6" #formDir="ngForm" >
        <table id="form1" class="table table-bordered">
          <tr>
            <td>
              <label for="etudiantId" class="control-label">Candidat :</label>
              <app-students-select [form]="createE6"></app-students-select>
            </td>
            <td>
              <label for="juryId" class="control-label">Jury :</label>
              <app-jury-select [form]="createE6" ></app-jury-select>
            </td>
            <td>
              <div class="form-group">
                <label class="control-label">Date :</label>
                  <input
                    formControlName="date"
                    class="form-control"
                    type="text"
                    required
                    bsDatepicker [bsConfig]="bsConfig"
                    />
              </div>
            </td>
          </tr>
        </table>
        <hr />
        <h3 style="text-align: center">Premiere phase : Entretien centré sur le parcours de professionnalisation</h3>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td width=50%>
              Qualité de la présentation :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #premier>
                <option value="0.625">Très Insufisant</option>
                <option value="1.25">Insufisant</option>
                <option value="1.875">Bien</option>
                <option value="2.5" >Très bien</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              Pertinence de l’analyse critique du parcours de professionnalisation :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #second>
                <option value="0.625">Très Insufisant</option>
                <option value="1.25">Insufisant</option>
                <option value="1.875">Bien</option>
                <option value="2.5" >Très bien</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              Variété des situations professionnelles rencontrées :
            </td>
            <td style="text-align: center">
              <select type="number" class="form-control" size="1" #troisieme>
                <option value="0.625">Très Insufisant</option>
                <option value="1.25">Insufisant</option>
                <option value="1.875">Bien</option>
                <option value="2.5" >Très bien</option>
              </select>
            </td>
          </tr>
        </table>
        <hr />
        <h6 style="text-align: center">Degré de maîtrise des compétences évaluées relevant de la participation à un projet
          de l’accompagnement de la mise en place d’un nouveau service et de l’exploitation d’un service :</h6>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td width="50%">
            </td>
            <td>
              <select type="number" class="form-control" size="1" #quatrieme>
                <option value="0.625">Très Insufisant</option>
                <option value="1.25">Insufisant</option>
                <option value="1.875">Bien</option>
                <option value="2.5" >Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-outline-success" type="submit"
              (click) = 'calculatePhase1(premier.value, second.value, troisieme.value, quatrieme.value)'>Valider Phase1</button>
            </td>
            <td>
              <input
                id="formput"
                value="{{sum}}"
                formControlName="notePhase1"
                class="form-control"
                type="number"
                disabled
              />
            </td>
            <td>
              <h4>/10</h4>
            </td>
          </tr>
        </table>
        <hr />
        <h3 style="text-align: center">Deuxième phase : Entretien sur les compétences relevant du processus de gestion du patrimoine informatique :</h3>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td width="50%">
              Conformité de la production au exigences de la demande
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #premierB>
                    <option value="0.8325">Très Insufisant</option>
                    <option value="1.665">Insufisant</option>
                    <option value="2.4975">Bien</option>
                    <option value="3.33">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Justification de la solution
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #secondB>
                  <option value="0.8325">Très Insufisant</option>
                  <option value="1.665">Insufisant</option>
                  <option value="2.4975">Bien</option>
                  <option value="3.33">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Qualité de la réalisation
            </td>
            <td style="text-align: center" >
                <select type="number" class="form-control" size="1" #troisiemeB>
                  <option value="0.8325">Très Insufisant</option>
                  <option value="1.665">Insufisant</option>
                  <option value="2.4975">Bien</option>
                  <option value="3.33">Très bien</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-outline-success" type="submit"
              (click) = 'calculatePhase2(premierB.value, secondB.value, troisiemeB.value)'>
                Valider Phase2</button>
            </td>
            <td>
              <input
              id="formput"
                style="text-align: center"
                formControlName="notePhase2"
                class="form-control"
                type="number"
                value="{{sumB}}"
                disabled
          />
            </td>
            <td>
              <h4>/10</h4>
            </td>
          </tr>
        </table>
        <hr />
        <h5 style="text-align: center">Pénalités</h5>
        <hr />
        <table class="table table-bordered">
          <tr>
            <td>
              Absence de situation(s) professionnelle(s) exigée(s) par le référentiel :
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #penaliteA>
                    <option value="0">Non</option>
                    <option value="10">Oui</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              Portefeuille de compétences inaccessible :
            </td>
            <td style="text-align: center">
                <select type="number" class="form-control" size="1" #penaliteB>
                    <option value="0">Non</option>
                    <option value="15">Oui</option>
                </select>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn btn-outline-success" type="submit"
              (click) = 'calculatePenalite(penaliteA.value, penaliteB.value)'>
                Valider Pénalités</button>
            </td>
            <td width="50%">
              <h5 style="text-align: center">{{sumPenalite}} point(s) en moins</h5>
            </td>
          </tr>
        </table>
        <hr />
        <table class="table table-bordered">
        <tr>
          <td width="50%">
            <button class="btn btn-success" type="submit"
              (click) = 'calculateNoteFinale()'>
                Note Finale</button>
          </td>
          <td>
            <input
              id="formput"
              style="text-align: center"
              formControlName="resultat"
              class="form-control"
              type="number"
              value="{{sumNoteFinale}}"
              disabled
          />
          <td>
              <h3 id="h3">/20</h3>
          </td>
        </tr>
      </table>
        <hr />
        <div class="form-group" style="text-align:right">
          <input type="submit" class="btn btn-primary" (click)="Save()" />
        </div>
    </form>
  </div>
  <div *ngIf="hasError" class="alert alert-danger">
    {{ errorMessage }}
  </div>
</div>
