<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-info py-2" style="position:fixed"
      style="background-image:repeating-linear-gradient(white,rgba(181, 231, 247, 0.918))">
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="margin-left:auto">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div  class="navbar-collapse collapse" id="navbarCollapse" style>
        <div *ngIf="!loggedIn()">
        <a class="navbar-brand" routerLink="home">PPE 2</a>
      </div>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link text-dark" routerLink="students" id="list">Etudiants<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link text-dark" routerLink="jurys" id="list">Jurys</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link text-dark" routerLink="grids" id="list">EpreuveE4</a>
      </li>
      <li class="nav-item active" routerLinkActive="active">
        <a class="nav-link text-dark" routerLink="members" id="list">Membres<span class="sr-only"></span></a>
      </li>
      <li *appHasRole="['Admin']" class="nav-item active" routerLinkActive="active">
        <a class="nav-link text-dark" routerLink="admin" id="list">Admin</a>
      </li>
    </ul>

  <div *ngIf="loggedIn()" class="dropdown" dropdown style="margin-left: 66%">
      <a id="rv" class=" dropdown-toggle text-dark text-align" dropdownToggle style="cursor:pointer">
        Bienvenue {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
          <div class="dropdown-divider" ></div>
          <a class="dropdown-item" (click)="logout()" style="cursor:pointer" >
          <i class="fa fa-sign-out">

          </i>Se deconnecter</a>
      </div>
  </div>
  <div style="margin-left: auto">
      <form *ngIf="!loggedIn()" #LoginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
          <input class="form-control mr-sm-2" type="text" name="username"
            placeholder="Identifiant" required [(ngModel)]="model.username">
          <input class="form-control mr-sm-2" type="password" name="password"
            placeholder="Mot de passe" required [(ngModel)]="model.password">
          <button [disabled]="!LoginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>
  </div>
    </div>
</nav>
