<br />
<div class="container-fluid">
  <h4 style="text-align:center; margin-right: 3%">Les jurys présents seront : </h4>

  <hr />
  <div class="row" >
    <div class=" ml-auto mr-auto">
      <br />
      <p>Nom: {{jury.teacher1}}</p>
      <p>Prenom: {{jury.teacher2}}</p>
      <p>Mail: {{jury.teacher3}}</p>

      <a [routerLink]="['/jurys/edit',jury.id]">Modifier</a>
      <a [routerLink]="['/jurys']" style="margin-left: 7%"  >Retour</a>
      <br />
      <br />
      <div class=" ml-auto mr-auto" >
          <tr>
            <td>
                <button class="btn btn-danger"  (click)="deleteJury()">
                    Supprimer ce Jury
                </button>
            </td>
          </tr>
        </div>
  </div>
</div>

</div>
