<br />
<div class="container-fluid">
  <h4>Jurys</h4>

  <hr />
  <div class="row" >
    <div class=" ml-auto mr-auto">
      <br />
      <h5>Jury 1: {{jury.teacher1}}</h5>
      <h5>Jury 2: {{jury.teacher2}}</h5>
      <h5>Jury 3: {{jury.teacher3}}</h5>
      <br>
      <table>
        <tr>
          <td>
            <a [routerLink]="['/jurys/edit',jury.id]" ><button class = "btn btn-primary">Modifier</button></a>
          </td>
          <td>
            <a [routerLink]="['/jurys']" ><button class ="btn btn-primary">Retour</button></a>
          </td>
        </tr>
      </table>
      <div class=" ml-auto mr-auto" >
      <br>
      <table>
          <tr>
            <td>
                <button class="btn btn-danger" style="width: 160%"  (click)="deleteJury()">
                    Supprimer
                </button>
            </td>
          </tr>
          </table>
        </div>
  </div>
</div>

</div>
