<div class="container">
<section class="widget">
  <header>
    <br />
    <h2 style="text-align: center">Jury numéro {{jury.id}}</h2>
    <hr/>
  </header>
  <br />
  <div class="widget-controls" style="text-align: right">
      <button *appHasRole="['Admin','Moderator']" [routerLink]="['/jurys/edit/', jury.id]" class="btn btn-outline-info">Modifier</button>
      <button *appHasRole="['Admin','Moderator']" class="btn btn-outline-danger"(click)="deleteJury(jury)">Supprimer</button>
  </div>
  <br>
  <table class="table table-hover table-bordered table-striped">
      <tbody>
        <tr>
          <th style="width: 50%" scope="row">Professeur 1</th>
          <td style="text-align: center">
            {{ jury.teacher1 }}
          </td>
        </tr>
        <tr>
          <th scope="row">Professeur 2</th>
          <td style="text-align: center">
            {{ jury.teacher2 }}
        </tr>
        <tr>
          <th scope="row">Professeur 3</th>
          <td style="text-align: center">
            {{ jury.teacher3 }}
          </td>
        </tr>
      </tbody>
  </table>
  <br />
    <button class="btn btn-primary btn-rounded-f" [routerLink]="['/jurys/list/']">
      Retour
    </button>
</section>
</div>


