<body id="pdfgrille">
  <div class="container">
      <header>
      <br>
          <h2 style="text-align: center">BTS SIO</h2>
          <hr />
          <h2 style="text-align: center">E6 : Parcours de professionalisation</h2>
          <hr />
          <h3 style="text-align: center">Detail de la grille d'aide d'évaluation</h3>
      </header>
      <br />
      <div class="widget-controls" style="text-align: right">
      </div>
      <br />
      <div class="widget-body">
        <form>
            <table class="table table-bordered table-active">
                <tr>
                  <td class="dessus" width="50%" style="text-align: center">
                    {{student.evaluation}}
                  </td>
                  <td class="dessus" width="50%" style="text-align: center">
                    OPTION {{student.matiere}}
                  </td>
                </tr>
              </table>
            <table id="form1" class="table table-bordered table-active">
              <tr>
                <td class="dessus" width="33%">
                    <label class="control-label">Candidat :</label>
                    {{student.firstName}} {{student.name}}
                </td>
                <td class="dessus" width="33%">
                  <label for="juryId" class="control-label">Jury :</label>
                  {{ e6.juryId }}
                </td>
                <td class="dessus" width="33%">
                  <div class="form-group">
                    <label class="control-label">Date :</label>
                    {{ e6.date }}
                  </div>
                </td>
              </tr>
            </table>
            <table class="table table-bordered">
                <tr>
                  <td width="60%"></td>
                  <td width="10%" id="crit">Très Insuffisant</td>
                  <td width="10%" id="crit">Insuffisant</td>
                  <td width="10%" id="crit">Bien</td>
                  <td width="10%" id="crit">Très bien</td>
                </tr>
              <tr>
                </tr>
            </table>
            <hr />
            <table class="table table-bordered table-active">
              <tr>
                  <td width="60%" class="dessus" style="text-align: left"><h3 style="text-align: left">Premiere phase : Entretient d'explication</h3></td>
                  <td width="10%" class="dessus" id="coef">0,625</td>
                  <td width="10%" class="dessus" id="coef">1,25</td>
                  <td width="10%" class="dessus" id="coef">1,875</td>
                  <td width="10%" class="dessus" id="coef">2,5</td>
              </tr>
              </table>
            <hr />
            <table class="table table-bordered">
              <tr>
                <td width="60%">
                  Qualité de la présentation :
                </td>
                  <td width="10%" *ngIf="e6.c1 == 0.625; else tdelse" class="carre"></td>
                  <td width="10%" *ngIf="e6.c1 == 1.25;  else tdelse" class="carre" ></td>
                  <td width="10%" *ngIf="e6.c1 == 1.875; else tdelse" class="carre" ></td>
                  <td width="10%" *ngIf="e6.c1 == 2.5;   else tdelse" class="carre" ></td>
                <ng-template #tdelse><td></td></ng-template>
              </tr>
              <tr>
                <td width="60%">
                  Pertinence de l’analyse critique du parcours de professionnalisation :
                </td>
                <td width="10%" *ngIf="e6.c2 == 0.625; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c2 == 1.25;  else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c2 == 1.875; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c2 == 2.5;   else tdelse" class="carre" ></td>
              </tr>
              <tr>
                <td width="60%">
                  Variété des situations professionnelles rencontrées	:
                </td>
                <td width="10%" *ngIf="e6.c3 == 0.625; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c3 == 1.25;  else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c3 == 1.875; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c3 == 2.5;   else tdelse" class="carre" ></td>
              </tr>
            </table>
            <hr />
            <h5 style="text-align: center">Degré de maîtrise des compétences évaluées relevant de la participation à un projet
              de l’accompagnement de la mise en place d’un nouveau service et de l’exploitation d’un service :</h5>
            <hr />
            <table class="table table-bordered">
              <tr>
                <td width="60%">
                </td>
                <td width="10%" *ngIf="e6.c4 == 0.625; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c4 == 1.25; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c4 == 1.875; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c4 == 2.5; else tdelse" class="carre" ></td>
              </tr>
            </table>
            <table class="table table-bordered table-active table-hover">
              <tr>
                <td width="60%">

                </td>
                <th class="dessus">
                  <h5 style="text-align: center">Note : {{e6.notePhase1}}/10</h5>
                </th>
              </tr>
            </table>
            <hr />
            <table class="table table-bordered table-active">
              <tr>
                  <td class="dessus" width="60%" style="text-align: left"><h4 style="text-align: left">Deuxième phase : Entretien sur les compétences relevant du processus de gestion du patrimoine informatique :</h4></td>
                  <td class="dessus" width="10%" id="coef">0,8325</td>
                  <td class="dessus" width="10%" id="coef">1,665</td>
                  <td class="dessus" width="10%" id="coef">2,4975</td>
                  <td class="dessus" width="10%" id="coef">3,33</td>
              </tr>
              </table>
            <hr />
            <table class="table table-bordered">
              <tr>
                <td width="60%">
                  Pertinence d’usage de la gestion des configurations :
                </td>
                <td width="10%" *ngIf="e6.c5 == 0.8325; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c5 == 1.665; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c5 == 2.4975; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c5 == 3.33; else tdelse" class="carre"  ></td>
              </tr>
              <tr>
                <td>
                  Efficacité de l’organisation de la veille technologique
                </td>
                <td width="10%" *ngIf="e6.c6 == 0.8325; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c6 == 1.665; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c6 == 2.4975; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c6 == 3.33; else tdelse" class="carre" ></td>
              </tr>
              <tr>
                <td>
                  Degré de maîtrise des compétences évaluées relevant du processus de gestion du patrimoine informatique :
                </td>
                <td width="10%" *ngIf="e6.c7 == 0.8325; else tdelse" class="carre"></td>
                <td width="10%" *ngIf="e6.c7 == 1.665; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c7 == 2.4975; else tdelse" class="carre" ></td>
                <td width="10%" *ngIf="e6.c7 == 3.33; else tdelse" class="carre" ></td>
              </tr>
            </table>
            <table class="table table-bordered table-active table-hover">
                <tr>
                  <td width="60%">

                  </td>
                  <th class="dessus">
                    <h5 style="text-align: center">Note : {{e6.notePhase2}}/10</h5>
                  </th>
                </tr>
              </table>
            <hr />
            <h5 style="text-align: center">Pénalités</h5>
            <hr />
            <table class="table table-bordered">
              <tr>
                <td>
                  Non-respect au cahier des charges national
                </td>
                <td style="text-align: center">
                    - {{ e6.p1 }} pt(s)

                </td>
              </tr>
              <tr>
                <td>
                  Absence d'une solution professionnelle
                </td>
                <td style="text-align: center">
                    - {{ e6.p2 }} pt(s)
                </td>
              </tr>
              <tr class="table table-danger">
                <td>

                </td>
                <td width="50%">
                  <h5 style="text-align: center"> {{e6.sommePenalite}} point(s) en moins</h5>
                </td>
              </tr>
            </table>
              <table class="table table-bordered table-active">
              <tr>
                <td></td>
                <td class="dessus" width="50%"><h5 style="text-align: center">Note finale : {{e6.resultat}} /20</h5></td>
              </tr>
            </table>
            <hr />
            <table class="table table-hover table-bordered">
              <tr>
                Nom et signature des membres de la commission d’interrogation :
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
              </tr>
            </table>
            <button class="btn btn-primary btn-rounded-f" [routerLink]="['/e6s/list']">
              Retour
            </button>
        </form>
      </div>
    </div>
  </body>
